{% extends 'layouts/_bulletin.html' %}

{% block title %}
    Bulletin | GesNote
{% endblock %}

{% block content %}
    <div class="row" style="margin-top: 3em;">
        <div class="col text-center">
            <h1>BULLETIN DE NOTES TRIMESTRE 1 /2020-2021</h1>
            <h2></h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>NOMS ET PRENOMS</th>
                            <th>NOMS ET PRENOMS</th>
                            <th>SEXE</th>
                            <th>SEXE</th>
                            <th>EFFECTIF</th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <th>DATE DE NAISSANCE</th>
                            <th>DATE DE NAISSANCE</th>
                            <th>MATRICULE</th>
                            <th>MATRICULE</th>
                            <th>F</th>
                            <th>G</th>
                            <th>T</th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <th>PROF TITULAIRE</th>
                            <th>PROF TITULAIRE</th>
                            <th>REDOUBLANT</th>
                            <th>REDOUBLANT</th>
                            <th>F</th>
                            <th>G</th>
                            <th>T</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr>
                            <td rowspan="2"><strong>MATIERES</strong></td>
                            <td rowspan="2"><strong>T1S1</strong></td>
                            <td rowspan="2"><strong>T1S2</strong></td>
                            <td colspan="4">TRIMESTRE 1</td>
                            <td colspan="3">NOTE CLASSE</td>
                            <td rowspan="2" colspan="2">ENSEIGNANT</td>
                        </tr>
                        <tr>
                            <td>NOTE</td>
                            <td>COEF</td>
                            <td>N x C</td>
                            <td>RANG</td>
                            <td>MIN</td>
                            <td>MOY</td>
                            <td>MAX</td>
                        </tr>
                        <tr>
                            <td>Nom matière</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>les modules</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <th colspan="3">RAPPELS MOYENNES</th>
                            <th colspan="3">TRAVAIL TRIMESTRE 1</th>
                            <th colspan="3">CONDUITES TRIMESTRE 1</th>
                            <th colspan="3">CONSEIL DE CLASSE</th>
                        </tr>
                        <tr>
                            <td colspan="2">Trimestre 1</td>
                            <td></td>
                            <td colspan="2">TOTAL POINTS</td>
                            <td></td>
                            <td colspan="2">ABS. TOTAL</td>
                            <td></td>
                            <td colspan="2">AVERT. TRAVAIL</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="2">Trimestre 2</td>
                            <td></td>
                            <td colspan="2">TOTAL COEFS</td>
                            <td></td>
                            <td colspan="2">ABS. NON JUST</td>
                            <td></td>
                            <td colspan="2">BLAME TRAVAIL</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="2">Trimestre 3</td>
                            <td></td>
                            <td colspan="2">MOY. TRIMESTRE 1</td>
                            <td></td>
                            <td colspan="2">EXCLUSION(jrs.)</td>
                            <td></td>
                            <td colspan="2">TABLEAU D'HONNEUR</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="2">ANNUELLE</td>
                            <td></td>
                            <td colspan="2">RANG TRIMESTRE 1</td>
                            <td></td>
                            <td colspan="2">EXCLUSION(hrs.)</td>
                            <td></td>
                            <td colspan="2">ENCOURAGEMENT</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="3" rowspan="2"></td>
                            <td colspan="2">NBRE MATIERES</td>
                            <td></td>
                            <td colspan="2">AVERT. CONDUITE</td>
                            <td></td>
                            <td colspan="2">FELICITATION</td>
                            <td></td>
                        </tr>
                            <td colspan="2">MOY. CLASSE</td>
                            <td></td>
                            <td colspan="2">BLAME CONDUITE</td>
                            <td></td>
                            <td colspan="2"></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th colspan="3">SIGNATURE DES PARENTS</th>
                            <th colspan="5">OBSERVATIONS DU CONSEIL DE CLASSE</th>
                            <th colspan="4">VISA DU CHEF D'ETABLISSEMENT</th>
                        </tr>
                        <tr>
                            <th colspan="3"></th>
                            <th colspan="5"></th>
                            <th colspan="4"></th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}