{% extends 'layouts/base.html' %}

{% block title %}
    ModifierNote | GesNote
{% endblock %}


{% block content %}
    <!-- ============================================================== -->
    <!-- pageheader -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h2 class="pageheader-title">Effectuer une modification de note</h2>
                <div class="page-breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'accueil' %}" class="breadcrumb-link">Accueil</a></li>
                            <li class="breadcrumb-item active" aria-current="page">ModifierNote</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end pageheader -->
    <!-- ============================================================== -->
    <div class="row">
        
        <!-- ============================================================== -->
        <!-- striped table -->
        <!-- ============================================================== -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            
            {% if msg %}
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                <div class="alert dark alert-alt alert-success alert-dismissible" id="success-alert" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span></button>
                    <strong><i class="icon wb-check" aria-hidden="true"></i> Success! </strong> {{ msg }}
                </div>
            </div>
            {% endif %}
            {% if error %}
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                <div class="alert alert-danger" id="success-alert">
                    <button type="button" class="close" data-dismiss="alert">x</button>
                    <strong>Erreur! </strong> {{error}}
                </div>
            </div>
            {% endif %}
            <div class="card">
                <h5 class="card-header">modification de note</h5>
                <div class="card-body">
                    <form action="{% url 'updateNote' %}" method="post" id="form_content"></form>
                    <form method="post" id="form_1">
                        {% csrf_token %}
                        <div class="form-group row">
                            <label class="col-3 col-lg-2 col-form-label  text-right" for="sequence">Sequence
                            </label>
                            <div class="col-9 col-lg-10">
                                <select name="sequence" id="sequence" class="form-control">
                                    <option></option>
                                    {% for sequence in listSequence %}
                                        <option value=" {{sequence.id}}" 
                                         >Sequence {{sequence.numero_sequence}}
                                        </option>
                                    {% empty %}
                                        <option disabled> Pas de sequence</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-3 col-lg-2 col-form-label  text-right" for="classe">Classe
                            </label>
                            <div class="col-9 col-lg-10">
                                <select name="classe" id="classe" class="form-control" required>
                                    <option></option>
                                    {% for classe in listClasse %}
                                        <option value="{{classe.id}}" 
                                         >{{classe.libelle_classe}}
                                        </option>
                                    {% empty %}
                                        <option disabled> Pas de classe</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-3 col-lg-2 col-form-label  text-right" for="matière">Matière
                            </label>
                            <div class="col-9 col-lg-10">
                                <select name="matiere" id="matiere" class="form-control">
                                    {% for matière in listMatiere %}
                                        <option value=" {{matière.id}}" 
                                         >{{matière.nom_Matiere}}
                                        </option>
                                    {% empty %}
                                        <option disabled> Pas de matière</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div style="float: right;">
                            <button type="submit" class="btn btn-primary">Continuer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end striped table -->
        <!-- ============================================================== -->
    </div>
{% endblock %}


{% block javascript %}
    <script>
        $('#classe').change(function () {
            let url = "  {% url 'select_matiere' %} "  // get the url of the `load_cities` view
            let classeId = $(this).val();  // get the selected country ID from the HTML input
            $.ajax({                       // initialize an AJAX request
                url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
                data: {
                    'classe': classeId       // add the country id to the GET parameters
                },
                success: function (data) {   // `data` is the return of the `load_cities` view function
                    $("#matiere").html(data);  // replace the contents of the city input with the data that came from the server
                }
            });
        });

        $('#form_1').submit(function (e) {
            e.preventDefault()
            let url = "{% url 'show_form_update' %}"
            let sequenceId = $('#sequence').val();
            let classeId = $('#classe').val();
            let matiereId = $('#matiere').val();
            $.ajax({
                url: url,
                data: {
                    'sequence': sequenceId,
                    'classe': classeId,
                    'matiere': matiereId
                },
                success: function (data) {
                    console.log(data);
                    $('#form_1').html('');
                    $("#form_content").html(data);
                }
            })
        })
    </script>
{% endblock %}